* {
  margin: 0px;
  padding: 0px;
}
html,
body,
#root {
  height: 100vh;
  width: 100vw;
  background-color: var(--background);
  color: white;
  overflow: hidden;
  position: fixed;

  --foreground: #f8e0eb;
  --background: #12040a;
  --primary: #d7a2bc;

  --surface: #ffffff12;
  --key: var(--background);
}

main {
  display: grid;
  grid-template-columns: 35% 30% 35%;
  grid-template-rows: 1fr auto;
  width: 100%;
  height: 100%;
  align-content: stretch;
  justify-content: stretch;
  overflow: hidden;
  gap: 0px;
}

.button {
  background-color: var(--primary);
  color: var(--background);
  border: none;
  padding: 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

/* Grid items */

#status {
  grid-column: span 3 / span 3;
}

.keyboard-section {
  display: grid;
  gap: 8px;
  padding: 5px;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-flow: dense;
  background-color: var(--surface);
}

#content {
  padding: 5px;
  flex-grow: 0;
}

#content p {
  width: 100%;
  text-wrap: initial;
  word-wrap: break-word;
  overflow: scroll;
  white-space: pre-wrap;
}

#status p {
  padding: 5px;
  font-family: monospace;
}

.key {
  border: none;
  border-radius: 10px;
  background-color: var(--key);
  color: var(--foreground);
  font-weight: bold;
  font-size: 20px;
}
.key:not(.key-blank):active {
  transition: 200ms;
  opacity: 0.8;
}

/* Styles blank keys */
.key-blank {
  background-color: transparent;
  padding: 0px;
  font-weight: 100;
  opacity: 0;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

div.settings {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

input,
textarea {
  background-color: var(--background);
  color: var(--foreground);
  border-style: solid;
  border-width: 1px;
  padding: 5px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

.end {
  justify-content: flex-end;
}

.layoutNameInput {
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.layoutInput {
  min-height: 200px;
}

/* handles keeping the content always landscape */
@media only screen and (orientation: portrait) {
  #root {
    transform: rotate(-90deg) translate(-100vh, 0px);
    transform-origin: left top; /* Adjusts the rotation point */
    width: 100vh; /* Sets the width to the height of the viewport */
    height: 100vw; /* Sets the height to the width of the viewport */
    overflow: hidden;
    /* Prevents overflow */
  }
  #content {
    width: 100%;
    padding: 5px;
    max-width: calc(100vh / 3);
  }
}
