* {
  margin: 0px;
  padding: 0px;
}
html,
body,
#root {
  height: 100vh;
  width: 100vw;
  background-color: black;
  color: white;
  overflow: hidden;
  position: fixed;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr auto;
  width: 100%;
  height: 100%;
  align-content: stretch;
  justify-content: stretch;
  overflow: hidden;
  gap: 0px;
}

#left,
#right {
  padding: 5px;
  min-width: 100px;
  min-height: 100px;
  background-color: #2b2b2b;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-auto-flow: dense;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  gap: 5px;
}

#left {
  grid-column: span 1;
  grid-row: span 1;
}
#right {
  grid-column: span 1;
  grid-row: span 1;
}
#status {
  background-color: black;
  grid-column: span 3;
  padding: 5px;
}
#content {
  padding: 5px;
  max-width: calc(100vw / 3);
  min-width: calc(100vw / 3);
  display: flex;
  grid-column: span 1;
  grid-row: span 1;
}

#content p {
  width: 100%;
  text-wrap: initial;
  word-wrap: break-word;
  overflow: scroll;
  white-space: pre-wrap;
}

.key {
  color: white;
  background-color: #6a6a6a;
  padding: 0.8rem;
  border: none;
  border-radius: 10px;
  flex: 1;
  max-height: 60px;
  min-height: 40px;
  min-width: 40px;
  font-weight: bold;
  font-size: 17px;
}

.span-x-1 {
  grid-column: span 1;
}
.span-x-2 {
  grid-column: span 2;
}
.span-x-3 {
  grid-column: span 3;
}
.span-x-4 {
  grid-column: span 4;
}
.span-x-5 {
  grid-column: span 5;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media only screen and (orientation: portrait) {
  #root {
      transform: rotate(-90deg) translate(-100vh, 0px);
      transform-origin: left top; /* Adjusts the rotation point */
      width: 100vh; /* Sets the width to the height of the viewport */
      height: 100vw; /* Sets the height to the width of the viewport */
      overflow: hidden;
      /* Prevents overflow */
  }
  #content {
      width: 100%;
      padding: 5px;
      max-width: calc(100vh / 3);
  }
}
