* {
  margin: 0px;
  padding: 0px;
}
html,
body,
#root {
  height: 100vh;
  width: 100vw;
  background-color: black;
  color: white;
  overflow: hidden;
  position: fixed;
  --background: black;
  --surface: #2b2b2b;
  --foreground: white;
  --key: #6a6a6a;
}

main {
  display: grid;
  grid-template-columns: 35% 30% 35%;
  grid-template-rows: 1fr auto;
  width: 100%;
  height: 100%;
  align-content: stretch;
  justify-content: stretch;
  overflow: hidden;
  gap: 0px;
}

/* Grid items */

#status {
  grid-column: span 3 / span 3;
}

#left,
#right {
  padding: 5px;
  min-width: 100px;
  min-height: 100px;
  background-color: var(--surface);
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-auto-flow: dense;
  justify-content: center;
  align-content: center;
  gap: 5px;
}

#content {
  padding: 5px;
  flex-grow: 0;
}

#content p {
  width: 100%;
  text-wrap: initial;
  word-wrap: break-word;
  overflow: scroll;
  white-space: pre-wrap;
}

#status p {
  padding: 5px;
  font-family: monospace;
}

.key {
  color: var(--foreground);
  background-color: var(--key);
  padding: 0.8rem;
  border: none;
  border-radius: 10px;
  flex: 1;
  max-height: 60px;
  min-height: 43px;
  min-width: 43px;
  font-weight: bold;
  font-size: 17px;
}

.span-x-1 {
  grid-column: span 1;
}
.span-x-2 {
  grid-column: span 2;
}
.span-x-3 {
  grid-column: span 3;
}
.span-x-4 {
  grid-column: span 4;
}
.span-x-5 {
  grid-column: span 5;
}

.span-y-1 {
  grid-row: span 1;
}
.span-y-2 {
  grid-row: span 2;
}
.span-y-3 {
  grid-row: span 3;
}
.span-y-4 {
  grid-row: span 4;
}
.span-y-5 {
  grid-row: span 5;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

p {
  min-height: 1em;
}

/* Styles blank keys */
div.key {
  background-color: transparent;
  padding: 0px;
}

div.settings {
  padding: 1rem;
  overflow-x: scroll;
}

input,
textarea {
  background-color: var(--background);
  color: var(--foreground);
  border-style: solid;
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

.end {
  justify-content: flex-end;
}

.button {
  background-color: var(--key);
  color: var(--foreground);
  border: none;
  padding: 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.layoutNameInput {
  width: 100%;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.layoutInput {
  width: 100%;
  min-height: 200px;
}
/* handles keeping the content always landscape */
@media only screen and (orientation: portrait) {
  #root {
    transform: rotate(-90deg) translate(-100vh, 0px);
    transform-origin: left top; /* Adjusts the rotation point */
    width: 100vh; /* Sets the width to the height of the viewport */
    height: 100vw; /* Sets the height to the width of the viewport */
    overflow: hidden;
    /* Prevents overflow */
  }
  #content {
    width: 100%;
    padding: 5px;
    max-width: calc(100vh / 3);
  }
}
