* {
  margin: 0px;
  padding: 0px;
}
html,
body,
#root {
  height: 100vh;
  width: 100vw;
  background-color: var(--background);
  color: var(--foreground);
  overflow: hidden;
  position: fixed;

  --foreground: #f8e0eb;
  --background: #12040a;
  --primary: #d7a2bc;

  --surface: #ffffff12;
  --key: var(--background);
}

#app {
  overflow: hidden;
  display: grid;
  grid-template-columns: 35% 30% 35%;
  grid-template-rows: 1fr auto;
  width: 100%;
  height: 100%;
}

.status {
  grid-column: span 3 / span 3;
}

.button {
  display: inline-block;
  background-color: var(--primary);
  color: var(--background);
  border: none;
  padding: 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

/* Grid items */

#status {
  grid-column: span 3 / span 3;
}

.keyboard-section {
  display: grid;
  gap: 8px;
  padding: 5px;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-flow: dense;
  background-color: var(--surface);
}

#content {
  padding: 5px;
  flex-grow: 0;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: var(--primary) var(--background);
}

#content p {
  text-wrap: initial;
  word-wrap: break-word;
  white-space: pre-wrap;
}

#status p {
  padding: 5px;
  font-family: monospace;
}

.key {
  border: none;
  border-radius: 10px;
  background-color: var(--key);
  color: var(--foreground);
  font-weight: bold;
  font-size: 20px;
}
.key:not(.key-blank):active {
  transition: 200ms;
  opacity: 0.8;
}

/* Styles blank keys */
.key-blank {
  background-color: transparent;
  padding: 0px;
  font-weight: 100;
  opacity: 0;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

div.settings {
  height: 100vh;
  overflow-y: scroll;
}

.settings-content {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  gap: 0.5rem;
}

.input-group {
  display: flex;
  flex-direction: column;
}

input,
textarea {
  background-color: var(--background);
  color: var(--foreground);
  border-style: solid;
  border-width: 1px;
  padding: 5px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.end {
  justify-content: flex-end;
}

.layoutInput {
  min-height: 200px;
}

.landscape-always {
  --width: 100vw;
  --height: 100vh;
  width: var(--width);
  height: var(--height);
}
ul,
ol {
  padding-left: 1.5rem;
}

.faq {
  padding: 1%;
}
.faq section {
  margin-bottom: 1rem;
}

/* handles keeping the content always landscape */
@media only screen and (orientation: portrait) {
  .landscape-always {
    transform: rotate(-90deg) translate(-100vh, 0px);
    transform-origin: left top; /* Adjusts the rotation point */
    --width: 100vh;
    --height: 100vw;
    overflow: hidden;
  }
}
